* {
  box-sizing: border-box;
}
nav section {
  display: none;
}
.template {
  display: none;
}
.mainImage img {
  display: block;
  padding: 0 0 0 0;
  width: 30vw;
  margin:auto;
  float: none;
}
.content {
  width: 90vw;
  margin: auto;
}
.hamburger {
  display: block;
  text-align: center;
}
.fa-bars {
  font-size: 10vw;
}
section.projects {
  border: thin black solid;
  background-color: lightgrey;
}

section.education {
  border: thin blue solid;
  background-color: lightblue;
}

@media all and (min-width: 600px) {
  nav section{
    display: block;
  }

  .hamburger {
    display: none;
  }

  .mainImage {
    width: 50vw;
    display: inline-block;
  }

  .mainImage img {
    max-width: 50vw;
    margin:auto;
    float: none;
  }
  .content {
    float: right;
    width: 50vw;
  }

  .socialLinks {
    text-align: right;
  }
  .dataSections {
    text-align: center;
  }

  .dataSections a {
    margin: auto;
    padding-right: 10vw;
    text-decoration: none;
    color: black;
  }
}
